.div-1 {
    display: flex;
    background-color: white;
    flex-direction: row;
    padding-right: 300px;
    padding-left: 300px;
    /* padding-top: 50px; */
    padding-bottom: 50px;
}

.div-2 {

    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    padding-left: 200px;
    padding-bottom: -50px;
    height: 150px;
    column-gap: 10px;
} 

