
/*
.div-1 {
    display: flex;
    background-color: white;
    flex-direction: row;
    column-gap: 10px;
    padding-right: 225px;
    padding-left: 225px; 
    /* padding-top: 50px; 
    padding-bottom: 50px;
} */

.container {
    display: flex;
    column-gap: 10px;
    padding-left: 350px;
}

.pair1 {
    display: flex;
    flex-direction: column;
    width: 150px;
   /* padding-left: 100px;*/
}

.pair2 {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.pair3 {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.pair4 {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.div-2 {

    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    padding-left: 200px;
    padding-bottom: -50px;
    height: 150px;
    column-gap: 10px;
} 


